# Environments
.env
.venv
env/
venv/
ENV/

# Python cache
__pycache__/
*.pyc

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Uploaded documents
*.pdf
*.txt
*.docx
*.pptx
